<mat-card>
  <mat-card-header class="p-d-flex p-ai-center">
    <mat-chip>{{proyecto.id}}</mat-chip>
    <div class="p-d-flex p-flex-column mx-2">
      <mat-card-title>{{proyecto.name}}</mat-card-title>
      <mat-card-subtitle>{{proyecto.website}}</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions class="p-d-flex p-jc-between p-ai-center">
    <button mat-button mat-raised color="primary" [routerLink]="['/proyectos/edit', proyecto.id]">
      <mat-icon>edit</mat-icon>Editar
    </button>
    <span class="spacer"></span>
    <button mat-button mat-raised [routerLink]="['/proyectos', proyecto.id]">
      <mat-icon>more_horiz</mat-icon>Detalle
    </button>
  </mat-card-actions>
</mat-card>