<h1>Agregar / Editar Proyecto</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <form class="grid" [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12">
            <mat-label>Nombre del proyecto</mat-label>
            <input type="text" matInput required formControlName="name">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Email del proyecto</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Pagina del proyecto</mat-label>
            <input type="text" matInput formControlName="website">
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Telefono del proyecto</mat-label>
            <input type="text" matInput formControlName="phone">
          </mat-form-field>
        </form>

        <div class="flex justify-contentr-between">
          <button mat-flat-button color="warn">Borrar</button>
          <span class="spacer"></span>
          <button (click)="onSubmit()" mat-flat-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6"></div>
</div>


<!-- <pre>
{{actualProyecto | json}}
</pre> -->